<table class="table table-bordered">
  <tr>
    <th>
      Name
    </th>
  </tr>
  <% @comedians.each do |comedian| %>
  <tr>
    <td>
      <%= comedian.name %> <span id="date-request"> on  <%= comedian.created_at.strftime("%b %e, %l:%M %p") %> </span>
    </td>
  </tr>
  <%end%>
</table>
