<table class="table table-bordered">
  <tr>
    <th>
      Name
    </th>
  </tr>
  <% @comedians.each do |comedian| %>
  <tr>
    <td>
      <div class="row">
        <div class="col-sm-6">
          <%= comedian.name %>
        </div>
        <div class="col-sm-6">
          <%= comedian.created_at.strftime("%b %e, %l:%M %p") %>
        </div>
    </td>
  </tr>
  <%end%>
</table>
<%= paginate @comedians %>
