<% Commentartist.all.each do |comment| %>
  <% if comment.artist_id == @artist.id %>
    <%= link_to user_path(comment.user) do %>
    <span id="user-name"><strong><%= comment.user.email %>:</strong>
      <%end%>
    </span> <%= comment.post %> <span id="time"><%= time_ago_in_words(comment.created_at) %> ago</span><br>
  <%end%>
<%end%>
