<h1>Artists#index</h1>
<p>Find me in app/views/artists/index.html.erb</p>
<div id="videos"></div>

<script>

  $.getJSON("/api/videos")
 .done(function(data){
  data.videos.forEach(function(video){
    console.log(video.url)
  });
});
</script>
