<div class="row main-my-page">
  <div class="col-md-10">

      <% @products.each do |product| %>
        <% if product.user_id != current_user.id %>
          <% @list << product %>
        <%end%>
      <%end%>

      <div class="recommend-thumbnail">
        <% @list.each do |product| %>
            <div class="col-sm-4 col-md-4 recommend-thumbnail">
              <div class="thumbnail">
                  <%= link_to product_path(product) do %>
                    <%= image_tag product.thumbnail(product.url), class: "recommend-image" %>
                    <div class="recommend-caption", style="margin-top: -1.5em; text-align: center ">
                      <%= product.title %>
                    </div>
                  <%end%>
              </div>
            </div>
        <% end %>
      </div>
  </div>
  <div class="col-md-2">
    <div class="thumbnail-on-recommend-side">
      <%= render partial: "products/side" %>
    </div>
  </div>

</div>
