@import "bootstrap-sprockets";
@import "bootstrap";
@import "header";
@import "footer";
@import "modal";
@import "devise";
@import "my_page";
@import "recommend";

#logo {font-family: 'Dancing Script', cursive; font-size: 1.5em}
#map {
  min-width: 1000px;
  height: 450px;
  margin: 2em;
  }
@media (min-width: 500px) {
  #map {
    min-width: 400px;
    height: 350px
  }
  img {text-align: center}
}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('http://i.imgur.com/po05Xs0.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 70px;
    margin: 0 auto;

}

.navbar {margin-top: -5em}

img {width: 250px; height: 250px;
  margin-bottom: 1.9em;
  margin-left: 1.8em
    }

.main-my-page {
  background: white;
  opacity: 0.9;

  }

.btn.btn-default{color: black}

a{color: black}

#artist-name {display: none}

iframe {margin-top: 1.5em; margin-left: 0.9em; margin-right: 1em; margin-bottom: 1.5em}
