@import "bootstrap-sprockets";
@import "bootstrap";
@import "header";
@import "footer";
@import "modal";
@import "devise";
@import "my_page";
@import "recommend";
@import "user";
@import "show_page";
@import "artists";

#logo {font-family: 'Dancing Script', cursive; font-size: 1.5em}
#map {
  min-width: 250px;
  height: 450px;
  margin: 2em;
  }
@media (min-width: 500px) {
  #map {
    min-width: 400px;
    height: 350px
  }
  img {text-align: center}
}

body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('http://i.imgur.com/Ag77ZU2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 70px;
    margin: 0 auto;

    p {color: white}

}

.navbar {
  margin-top: -6.3em;
  font-size: 0.8em
  }

img {width: 250px;
  margin-bottom: 1.9em;
  margin-left: 1.8em
    }

.main-my-page {
  background: white;
  opacity: 0.9;

  }

.btn.btn-default{color: black}

a{color: black}

#artist-name {display: none}

iframe {margin-top: 1.5em; margin-left: 0.9em; margin-right: 1em; margin-bottom: 1.5em}

.p {
  color: black;
  margin-left: 1em;
  }
.btn-danger{background-color: #e62117}

.col-sm-7{border-right: 1px solid black;}
.request{
  height: 42vh;
  margin-left: 1em;
  border: 1px solid #dddddd;
  padding: 1em;
}
button.btn.btn-success.upload{margin-top: 1.6em}
.col-md-5.image {
  border-right: 1px solid rgb(221, 209, 209);
}
