// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment.comment-artist {
  margin: 1em;
}
.vote-artist{
  margin-top: -2.4em;
  margin-left: 16em;
}
a.comment_able {
  color: red;
}
.col-md-6.image {
  border-right: 1px solid black;
}
