
.photo-in-modal {
  margin-left: 11em;
  margin-top: 1.2em
  }

.modal-title {text-align: center}

a:focus{
    outline:none!important
}
#modal-line {border-color: #E0CFD0}
.dropdown-toggle {
  position: relative;
  z-index: 5000;
}
.modal-body {
  overflow-y:visible;
}

//
// .modal-body {
//   border:thin solid green;
//   width:100%;
//   .photo-in-modal {
//     margin-top: 1.2em;
//     width:100%;
//     padding:0 25%;
//     height:100%;
//     border:red solid thin;
//     margin:0 auto;
//   }
// }
