
.photo-in-modal {
  margin-left: 11em;
  margin-top: 1.2em
  }

.modal-title {text-align: center}

a:focus{
    outline:none!important
}
#modal-line {border-color: #E0CFD0}
.dropdown-toggle {
  position: relative;
  z-index: 5000;
}
.modal-body {
  overflow-y:visible;
}

.col-sm-5 {
  margin-top: 1em;
}
