.thumbnail{
  margin-top: 1em;
  padding-left: 1.5em
  }

.thumbnail-image{
  width: 6em;
   height: 5em
   }

.thumbnail-on-side {
  border: 1px solid #dddddd;
  margin-top: -0.7em;
  padding-top: 1em;
  margin-left: -1em;
  }
.artist-name-on-side{font-size: 0.8em}

.show-product {}

.video-in-show-product {
  padding-left: 1em;
  margin-left: 3em;
 }
#time {
  color: #645858;
  font-size: 10px;
  margin-left: 2em
  }
#user-name {color: #2793e6}

.comment {
  border: 1px solid #dddddd;
  margin-right: 1em;
  margin-top: 43em;
  padding: 1em;
  }
  .btn-group > .btn:first-child {
    margin-top: 2em;
  }
.col-md-4.upload-content {height: 100vh}
.btn-danger{margin-top: -2em}
