.recommend-image{
  margin-left: -1em;

}
.recommend-page {
  .thumbnail {
    padding: 1em;
    border: 1px solid white;
    margin-bottom: -2em
  }
}
.thumbnail.recommend-caption {margin-top: -2em;
  text-align: center;}
