.col-md-9
  {.recommend-page{border: 1px solid red;}}
.recommend-image{
  margin-left: -1em;

}
.recommend-thumbnail {
  .thumbnail {
    padding: 1em;
    border: 1px solid white;
    margin-bottom: -2em
  }
}
.thumbnail.recommend-caption {margin-top: -2em;
  text-align: center;}
