.border-around{
  border: 1px solid #dddddd;
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.embed-responsive.embed-responsive-4by3 {
  margin-right: 1em;
  margin-bottom: 2em;
}
.p.showpage{margin-left: 1em}
.side-stuffs{
  border: 1px solid #dddddd;
  margin-top: 1em
}
.img-responsive{margin-left: 3.5em}
.embed-responsive .embed-responsive-item{
  height: 90%;
  width: 100%;
  margin-left: 0.3em
  }
  a.btn.btn-primary.thumbs-up {margin-left: 9em}
