<div class="row main-my-page show-product">
  <br>
  <%= render partial: "form" %>

  <div class="col-md-4 upload-content">
    <ul id="upload-content">
      <li>Comedy-Bucket makes it really easy to track your favorite comedians, events, dates and locations.</li>
      <li>Yet. It makes it really easy storing videos.</li>
      <li>All you gotta do is copy a youtube link, title, and info. And you will have your little own collection
        of comedy video that you love</li>
    </ul>
  </div>
</div>
